 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Product Operations </p>

 
    <p>
        <a asp-action="Update" asp-controller="Product" class="btn btn-success">Add New Product</a>
    </p>
    <p>
        <a asp-action="List" asp-controller="Product" class="btn btn-primary">List All Products</a>
    </p>
</div>