@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> This application is designed to address concurrency handling and to perform simple operations such
    as adding products, viewing product details, updating products, and deleting products.</p>

